@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background: #f6f5f7;
	
	font-family: 'Montserrat', sans-serif;
	height: 90vh;
	overflow-y: hidden;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}



button {
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	transition: transform 80ms ease-in;
}

button:hover{
    transform: scale(0.95);
}



input {
	display: flex;
	background-color: #eee;
	border: 1px white;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 12px 0;
	width: 100%;
}
input:focus{
    outline: none;
}
 

.fa-solid{
  display:flex;
	justify-content:center;

	color: var(--primary-color)
}

.bodyLogin, .bodyRegister{
	display: flex;
	justify-content: center;
	
}

.logincontainer, .registercontainer{
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	
}
.logo{
	display:flex;
	justify-content:center;
	font-size: 60px;
	color: var(--primary-color)
}
.title{
	
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: var(--primary-color);
	padding-top: 8px;
} 


.login_header,.register_header{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 28px;
} 


.loginButton,.registerButton{
	display: flex;
	justify-content: center;
	align-items:center;
	margin: auto;
	width: 100%;
}

.orUse, .or{
	display: flex;
	justify-content: center;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--primary-color);
	
} 


.socialContainer{
	display: flex;
	justify-content: space-around;
	
	height: 40px;
	margin-top: 30px;
	
}

.google,.facebook,.github{
	color: var(--primary-color);
	font-size: 28px;
	
}

.google:hover,.facebook:hover,.github:hover{
	transform: scale(1.15);
	cursor:pointer
}

.NoAccount{
	display: flex;
	justify-content: center;
	font-size: 12px;
	margin-top: 30px;
}

.MakeAnAccount{
	width: 100%;
}
.RegisterBackBtn{
  font-size: 10px;
  max-width: 300px;
	background-color: var(--secondary-color);
	border-color: var(--secondary-color)
}

/* header */
.headerContainer{
	display:flex;
	align-items:top;
	justify-content: space-between;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 15px;
	border-bottom: solid 2px var(--primary-transparant);
}

.navbars{
	padding-left: 18px;
}

.logoHeader{
	color: var(--primary-color);
	
}

.logoutBtn{
	padding-right: 18px;
}