@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

	
	font-family: 'Montserrat', sans-serif;
	height: 90vh;
	
	-ms-overflow-style: none;
	overflow-y: scroll;
}


body::-webkit-scrollbar {
  display: none;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

h3{
	font-size: 20px;
	word-wrap: break-word;
	max-width: 250px;
	padding: 0px;
	margin-bottom: 0px;
}

h4{
	font-size: 13px;
	word-wrap: break-word;
	max-width: 250px;
	padding: 0px;
	margin-bottom: 0px;
}

h5{
	font-size: 10px;
	word-wrap: break-word;
	max-width: 250px;
	padding: 0px;

}


button {
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background-color: var(--primary-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:hover{
    transform: scale(0.95);
}



input {
	display: flex;
	background-color: #eee;
	border: 1px white;
    border-radius: 5px;
	padding: 12px 15px;
	margin: 12px 0;
	
}
input:focus{
    outline: none;
}
 

.fa-solid{
  display:flex;
	justify-content:center;
	
	color: var(--primary-color)
}

.bodyLogin, .bodyRegister{
	display: flex;
	justify-content: center;
	
}

.logincontainer, .registercontainer{
	display: flex;
	flex-direction: column;
	padding-top: 35px;
	
}
.logo{
	display:flex;
	justify-content:center;
	font-size: 60px;
	color: var(--primary-color);
	cursor: auto;
}
.title{
	
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: var(--primary-color);
	padding-top: 8px;
} 


.login_header,.register_header{
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 28px;
} 


.loginButton,.registerButton{
	display: flex;
	justify-content: center;
	align-items:center;
	margin: auto;
	width: 100%;
}

.orUse, .or{
	display: flex;
	justify-content: center;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: var(--primary-color);
	
} 


.socialContainer{
	display: flex;
	justify-content: space-around;
	
	height: 40px;
	margin-top: 30px;
	
}

.google,.facebook,.github{
	color: var(--primary-color);
	font-size: 28px;
	
}

.google:hover,.facebook:hover,.github:hover{
	transform: scale(1.15);
	cursor:pointer
}

.NoAccount{
	display: flex;
	justify-content: center;
	font-size: 12px;
	margin-top: 30px;
}

.MakeAnAccount{
	width: 100%;
}
.RegisterBackBtn{
  font-size: 10px;
  max-width: 300px;
	background-color: var(--secondary-color);
	border-color: var(--secondary-color)
}
.password_error{
	display: flex;
	justify-content: center;
	color: red;
	font-size: 13px;
	margin: 0px;
}

.invalid_email_error{
	margin: 0px;
	display: flex;
	justify-content: center;
	color: red;
	font-size: 13px;
}

/* header */
.headerContainer{
	display:flex;
	align-items:top;
	justify-content: space-between;
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid var(--primary-color);
}

.navbars{
	padding-left: 18px;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu.show {
  display: block;
}

.logoHeader{
	color: var(--primary-color);
	cursor: pointer
}

.logoutBtn{
	font-size: 30px;
	padding-top: 8px;
	padding-right: 28px;
	cursor: pointer;
}


.divCreateTask{
	position: sticky;
	bottom:0;
	color:#888;
    width: 100%;
    padding: 0 7%;
    /* background: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0));  */
		display: flex;
    justify-content: center;
}

.createTaskBtn{
	margin: 30px 0;
	position: relative;
	bottom: 0;
	
	background-color:var(--secondary-color)
}


.mainDiv{
	-ms-overflow-style: none; 
}

.mainDiv::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

.createTaskContainer,.mainDiv{

    height: calc(100% - 100px);
    padding: 2px 6%;
    
   	overflow-y: scroll;
		display: grid;
		justify-content: center;
		flex-direction: column;
		align-items:center;
		
		
}

.createTaskContainer input{
	width: 250px;
}

.yourProjectsInfo, .joinedInfo, .invitedInfo{
    display: flex;
		flex-wrap:wrap;
	
  }
@media only screen and (max-width: 800px) {
  .yourProjectsInfo, .joinedInfo, .invitedInfo{
    display: block;
  }
}


.invitedContainer{
	margin-bottom: 100px;
}

.CreateTaskText{
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-size: 22px;
}

.label,.completion, .subtask-display{
	display: flex;
	justify-content: center;
	margin-bottom: 7px;
}
.completion{
	text-decoration: underline;
	text-underline-offset: 6px;
}



.headerTask{
	display: flex;
}

.nameTask{
	display: flex;
  
  justify-content: center;
	word-wrap: break-word;
	max-width: 150px;
	margin: auto;
	margin-top: 16px;
	
}
.fa-regular{
	font-size: 20px;
	padding-top: 6px
}

.deleteTask{
	background-color: var(--secondary-color);
	margin-top: 13px;

}

.usercontainer{
	display: flex;
	justify-content: start;
	width: 250px;

}
.checkbox{
	margin: auto;
	margin-left: 0px;
	margin-right: 0px;
	
	max-width: 42px;
}

.taskInfo{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	padding-bottom: 0px;
	width: 300px;
	margin-bottom: 15px;
	margin-right: 20px;
}

@media only screen and (max-width: 500px) {
  .taskInfo {
    margin-right: 0px;
  }
}
/* Task css */
.createSubTaskcontainer{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}



.taskTitle{
	font-size: 28px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	color: var(--primary-color);

}
.subtaskName{
	height: 50px;
	margin: 0;
	padding: 10px;
}

.Add{
	margin: 0;
	padding: 10px;
	border-radius: 0px 10px 10px 0px;
height: 50px;
}

.showSubtask, .showSubtaskContainer{
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	margin-top: 12px;
	
}


.subtaskBtn{
	   color: rgb(60, 60, 60);
			border-radius: 4px;
			border-bottom: 3px solid var(--primary-color);
			background: rgb(219, 218, 218);
		
			font-size: 0.9em;
			width: 200px;
			position: relative;
			display: flex;
			justify-content: space-between;
			margin-right: 20px;
		
			cursor: pointer;
			border-top:0px;
			border-right:0px;
			border-left:0px;
			
			padding: 20px 10px 7px 25px;
}

.deleteBtn{
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 12px;
}
  /* Style the modal */
	.modal {
		display: none; 
		position: fixed; 
		z-index: 1; 
		left: 0;
		top: 0;
		width: 100%; 
		height: 100%;
		overflow: auto; 
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4); 
	}

	
	/* Modal Content/Box */
	.modal-content {
		background-color: #fefefe;
		margin: 3% auto; 
		padding: 5px 30px 30px 30px;
		border: 1px solid #888;
		border-radius: 10px;
		width: 60%; 
		box-shadow: 10px 10px 8px #888888;
	}

	/* modal css for mobile */
	@media only screen and (max-width: 500px) {
		.modal-content{
			margin: 18% auto;
			width: 80%;
		}


	}
	.modal-form{
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}
	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 22px;
		font-weight: bold;
		padding-top: 13px;
		margin-right: 10px;
	}
	
	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	.modal-title{
		font-size: 28px;
		text-transform: uppercase;
		margin-left: 15px;
		display: flex;
		justify-content: center;
		color: var(--primary-color);
	}
	.modal-label{
		font-weight: 550;
		display: flex;
		justify-content: center;
		margin-bottom: 13px;

	}



	.modal-input{
		width: 100%;
		height: 40px;
		border-radius: 5px;
		border: 1px solid var(--primary-color);
		padding-left: 10px;
		margin-bottom: 10px;

		

	}
	.modal-input-questions, .modal-input-description{
		width: 100%;
		height: 40px;
		border-radius: 5px;
		border: 1px solid var(--primary-color);
		padding-left: 10px;
		padding-top: 10px;
		margin-bottom: 10px;
		background-color: #eee;
		overflow:  auto;
		resize: vertical;
	}

	.modal-button{
		margin-top: 13px;
	}
	
	.start-button{
		margin-bottom: 10px;
	}

	.textQuestion{
		display: flex;
		justify-content: center;
		margin-bottom: 0px;
	}

	.infoQuestion{
		display: flex;
		justify-content: center;
		margin-top: 7px;
		font-size: 13px;
	}

	.editButton{
		width: 100%;
	}

	textarea{
		background-color: #eee;
	}



	
/* MENU STYLES */


.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 70px;
  height: 70px;
  opacity: 0;
	

}

.menu-wrap .hamburger {
 
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
	opacity: 1;
  margin-left: 10px;
	padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
	
  display: flex;
  align-items: center;
  justify-content: center;
 
	
	
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
	opacity: 1;
	
	
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
	
}


/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
	
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
	
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
	
}

.menu-wrap .toggler:checked + .subtaskBtn {
	display:none;
	
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
	background-color: black;
	
}

.menu-wrap .menu > div {
 
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
	
	
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
	
	
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menuList{
	padding: 0;
	margin: 0;
}


/* Leaderboard */
.podium{
	font-size: 110px;
	margin-bottom: 10px;
}

.fa-ranking-star{
	margin-top: 35px;
	margin-bottom: 35px;
}

.leaderboardContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.memberDiv{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	width: 500px;
	border-radius: 20px;
	
	background-color: var(--primary-transparant);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;


}

@media only screen and (max-width: 500px) {
	.memberDiv{
		width: 90%;
		font-size: 8px;
	}
	}


